*{
    margin: 0px;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared section */
.btn-primary{
    font-size: 16px;
    color: #FFFFFF;
    background-color: #4E47FF;
    height: 48px;
    padding: 0px 20px;
    border-radius: 10px;
    border: none;
}
.btn-primary:hover{
    background-color: brown;
}

/* header background image */
header{
    background-image: url(../images/Hero-bg.png);
}

/* Navbar section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 152px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 75px;
}
nav p{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
}

/* Banner section */
header section{
    text-align: center;
    padding: 0px 10px 0px 10px;
    width: 905px;
    margin: 0 auto;
    /* margin-bottom: 150px; */
}
header section p{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
header section button{
    margin-bottom: 100px;
}

main{
    background-color: azure;
}
/* action section */
.action-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0px 150px 30px 150px;
    padding: 15px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-subtitle{
    font-size: 24px;
}
.action-container img{
    border-radius: 48px;
}

/* Productive users section*/
.productive-users-container{
    background-color: #d9d7d7;
    /* background-color: #B3B3B3; */
    margin: 75px 150px 30px 150px;
    padding: 50px 80px;
    border-radius: 20px;
}
.productive-title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #252432;
}
.productive-containers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.data-subtitle{
    font-size: 20px;
    color: #252432;
}
.number{
    font-weight: bold;
    font-size: 80px;
    margin: 0px;
    color: #4E47FF;
    font-family: Arial, Helvetica, sans-serif;
}

/* Users’ Feedback Section */
.cards-heading{
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.card-foot{
    display: flex;
    gap: 20px;
}
.reviewer-image{
    border-radius: 50%;
}
.reviewer-name{
    color: #757575;
    font-weight: 600;
}
.review-date{
    color: #B3B3B3;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.cards-container{
    display: flex;
    gap: 15px;
    margin: 75px 150px 30px 150px;
}

/* Extra part section */
.extra-part{
    text-align: center;
    background-color: white;
    margin: 75px 150px 30px 150px;
    padding: 50px;
    border-radius: 20px;
}
.extra-heading{
    font-weight: bold;
    font-size: 50px;
    margin: 0px;
}
.extra-subtitle{
    color: #000000;
}
.extra-image{
    margin-top: 20px;
    border-radius: 30px;
}

/* Let’s Get In Touch Section */
.touch-btn{
    width: 400px;
}
.in-touch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px 150px 0px 150px;
    gap: 100px;
    padding-bottom: 50px;
}
.in-touch-title{
    font-weight: bold;
    font-size: 80px;
}
form label{
    display: block;
}
input, textarea {
      width: 400px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: white;
}
